@page
@model SLFitness.Pages.DietsModel
@{
    ViewData["Title"] = "Diets";
}

<section class="features" id="features" style="margin-top: 10px">

    <h1 class="heading"> <span>Diets</span> </h1>

    <div class="box-container">

        @foreach (var diet in Model.diets)
        {
            var base64 = Convert.ToBase64String(diet.Image);
            var imgSource = String.Format("data:image/jpg;base64,{0}", base64);

            <div class="box">
                <div class="image">
                    <img src="@imgSource" class="featured-diet-image">
                </div>
                <div class="content">
                    <p class="title">@diet.Name</p>
                    <p class="description">@diet.Description</p>
                </div>
            </div>
        }

    </div>

</section>


