<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SLFitness</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- iconscout CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <header class="header">

        <a href="/Index" class="logo"> <span>SL</span>FIT </a>

        <div id="menu-btn" class="fas fa-bars"></div>

        <nav class="navbar">
            <a asp-page="/Index">home</a>

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-page="/DietPage">Diets</a>
                <a asp-page="/ProductPage">Products</a>
                <a asp-page="/Profile">profile</a>
                <form method="post" asp-page="/LogOut" style="display: inline-block"><button type="submit">log out</button></form>

                @if (User.IsInRole("COACH"))
                {
                    <a asp-page="/MembersPage">Members</a>
                }
            }
            else
            {
                <a asp-page="/LogIn">Log in</a>
                <a asp-page="/RegisterPage">Register</a>
            }

        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer section starts -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a class="links" href="#home">home</a>
                <a class="links" href="#about">about</a>
                <a class="links" href="#features">features</a>
                <a class="links" href="#pricing">pricing</a>
                <a class="links" href="#trainers">trainers</a>
                <a class="links" href="#blogs">blogs</a>
            </div>

            <div class="box">
                <h3>opening hours</h3>
                <p> monday : <i> 7:00am - 10:30pm </i> </p>
                <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
                <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
                <p> friday : <i> 7:00am - 10:30pm </i> </p>
                <p> saturday : <i> 7:00am - 10:30pm </i> </p>
                <p> sunday : <i> closed </i> </p>
            </div>

            <div class="box">
                <h3>opening hours</h3>
                <p> <i class="fas fa-phone"></i> +359-456-7890-098 </p>
                <p> <i class="fas fa-phone"></i> +359-222-3333-098 </p>
                <p> <i class="fas fa-envelope"></i> bulgaria.slfit@gmail.com </p>
                <p> <i class="fas fa-map"></i> Sofia, Bulgaria - 1612 </p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                </div>
            </div>
        </div>

    </section>

    <!-- footer section ends -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>