@page
@model SLfitnessWeb.Pages.ProfileModel
@{
}

<div class="login-container">
    <div class="forms">
        <div class="form login">
            <span class="title">Profile Settings</span>

            <form method="post" class="login-actual-form">

                <div class="input-field">
                    <input type="email" placeholder="Enter your Email" value="@Model.profileModelLogic.Email" asp-for="profileModelLogic.Email" />
                    <i class="uil uil-envelope"></i>
                    <span asp-validation-for="profileModelLogic.Email" class="span-validation"></span>
                </div>

                <div class="input-field">
                    <input type="text" placeholder="Enter your first name" value="@Model.profileModelLogic.FirstName" asp-for="profileModelLogic.FirstName" />
                    <i class="uil uil-book-reader"></i>
                    <span asp-validation-for="profileModelLogic.FirstName" class="span-validation"></span>
                </div>

                <div class="input-field">
                    <input type="text" placeholder="Enter your last name" value="@Model.profileModelLogic.LastName" asp-for="profileModelLogic.LastName" />
                    <i class="uil uil-book-reader"></i>
                    <span asp-validation-for="profileModelLogic.LastName" class="span-validation"></span>
                </div>

                <div class="input-field button">
                    <input type="submit" value="SAVE"/>
                </div>
            </form>
            
        </div>
    </div>
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> } 